apiVersion: v1
kind: Service
metadata:
  namespace: {{ include "project-template.namespace" . }}
  name: {{ include "project-template.fullname" . }}
  labels:
    {{- include "project-template.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    {{- if .Values.containerPort -}}
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
    {{ else }}
    {{ range $key, $val := .Values.ports }}
    - name: {{ $key }}
      port: {{ $val.service }}
      targetPort: {{ $key }}
      protocol: TCP
    {{ end }}
    {{ end }}
  selector:
    {{- include "project-template.selectorLabels" . | nindent 8 }}
